* {
    margin: 0;
    padding: 0;
}
html {
    background: #E5E5E5;
}

img {
    position: absolute;
    width: 174px;
    height: 180px;
    left: 97px;
    top: 83px;
}

h1 {
    position: absolute;
    color: #21243d;
    position: absolute;
    width: 312px;
    height: 120px;
    left: 32px;
    top: 297px;
    font-family: "heebo", sans-serif, monospace;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
}

p {
    color: #21243d;

    position: absolute;
    width: 328px;
    height: 96px;
    left: 24px;
    top: 438px;
    font-family: "heebo", sans-serif, monospace;
    font-weight: 400;
    font-size: 16px;

}